{% extends 'base.html.twig' %}

{% block body %}
    <h2>Delete Pet</h2>

    {% if error is defined %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% endif %}

    <p>Are you sure you want to delete pet with ID {{ id }}?</p>
    <form method="post">
        <button class="btn btn-danger">Yes, delete</button>
        <a href="{{ path('home') }}" class="btn btn-secondary">Cancel</a>
    </form>
{% endblock %}
